Django==2.2.3
Pillow==6.1
beautifulsoup4==4.7.1
common-framework==2019.7.1
coreapi==2.3.3
dj-database-url==0.5.0
django-compressor==2.3
django-configurations==2.1
django-cors-headers==3.0.2
django-debug-toolbar==2.0
django-redis==4.10.0
djangorestframework==3.11.2
djangorestframework-xml==1.4.0
django-webpack-loader==0.6.0
flake8==3.7.7
ipython==7.6.1
lxml==4.3.4
pytest==5.0.1
pytest-cov==2.7.1
pytest-django==3.5.1
python-dateutil==2.8
pip==19.1.1
pytz==2019.1
requests==2.22
setuptools==41.0.1
wheel==0.33.4
